Ex6/botiga.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="botiga">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="producte" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nom" type="xs:string"/>
              <xs:element name="preu" type="xs:decimal"/>
              <xs:element name="stock" type="xs:integer"/>

              <xs:element name="categoria">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="informatica"/>
                    <xs:enumeration value="llibres"/>
                    <xs:enumeration value="joguines"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="marca" type="xs:string" minOccurs="0"/>
              <xs:element name="etiqueta" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>

            <xs:attribute name="id" type="xs:string" use="required"/>

            <xs:attribute name="estat" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="nou"/>
                  <xs:enumeration value="oferta"/>
                  <xs:enumeration value="esgotat"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>

          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
